<div class="page-width fullpage">
<div class="rounded">
  <div class="left">
    <h2 class="customheading bigger">{{section.settings.h1}}</h2>
    <p> {{section.settings.paragraph}} </p>
    {%if section.settings.url%}
    <a class="btn" href="{{section.settings.url}}">{{section.settings.linktext}}</a>
    {%endif%}
  </div>
  <div class="right" style="">
  <img src="{{section.settings.image | img_url: '800x'}}">

  </div>

</div>
  
  
</div>


{% schema %}
{
  "name": "CTA 2 Row",
  "tag": "section",
  "settings": [
{
  "type": "text",
  "id": "h1",
  "label": "Überschrift"
},
{
  "type": "textarea",
  "id": "paragraph",
  "label": "Fließtext"
},
{
  "type": "image_picker",
  "id": "image",
  "label": "Bild - Position links"
},
{
  "type": "url",
  "id": "url",
  "label": "CTA-URL"
},
{
  "type": "text",
  "id": "linktext",
  "label": "Link-Text"
}
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "CTA - 2 Rows"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
